*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    margin: 20px;
    list-style: none;

}
nav ul li{
    font-size: 20px;

}
nav ul li a{
    text-decoration: none;
    padding: 40px;
    color:whitesmoke
}
nav ul li a:hover{
    color: aqua;
    text-shadow: -2px -5px black ;

}
/* home  */
#home{
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    height: 850px;
    z-index: -1;
} 

#home::before{
content: '';
position: absolute;
background-image: url('https://th.bing.com/th/id/R.47ad43640f19f25a10728df0820648e9?rik=nkCv4DkbSnYawQ&pid=ImgRaw&r=0');
background-size: cover;
height: 800px;
width: 100%;
z-index: -1;
opacity: 0.8;
}
.main{
    border: 2px solid rgba(245, 222, 179, 0.877);
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 20%;
    top: 30%;
    z-index:-1 ;
    /* background-color: aliceblue; */
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    font-size: 50px;
    /* color: azure; */
}
span{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    padding: 20px 30px;
    background-color: transparent;
    box-shadow: 0 0 10px black;
    z-index: -1;
    
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 10px black;
    z-index: -1;

}
/* about */
#about{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
    color: black;
}



.pic{
    display: flex;
}
.pic img{
    width: 500px;
    height: 400px;
}
.intro{
display: flex;
flex-direction: column;
text-align: justify;
}
#project{
    display: flex;
    flex-direction: column;
    background-color: darkslategrey;
    align-items: center;
    padding:20px ;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery img{
    width: 380px;
    height: 350px;
    margin: 10px;
    border: 3px ridge whitesmoke ;
    transform: scale(0.5s);
    border-radius: 50px;
}
.gallery img:hover{
    width: 400px;
    height: 380px; 
    transition: .5s;
    box-shadow: 3px 5px 6px 4px white;
    border-radius: 60px;
    margin: 10px;
}





